<span class="julklappar">
  <h2> <%= julklapp.År %> </h2>
  <p class="hover-text"> <%= julklapp.Beskrivning %> </p>
  <img id="hörlurar" class="bilder" src="/img/<%= julklapp.bilder %>">
</span>
    <br><br><br>
      <!-- packar upp julklapps datan här -->
