*{
margin: 0;
padding: 0;
}

#header{
  width: 100vw;
  height: 8vh;
  margin-top: 30px;
  font-size: 50px;
  color: white;
  text-align: center;
}

body{
  background-image: url(https://storage.needpix.com/rsynced_images/christmas-background-3762096_1280.jpg);
  background-size: cover;
}

.snowflake{
  color: white;
  font-size: 13px;
  font-family: Arial;
}

#body{
  width: 70vw;
  height: 224vh;
  background-color: red;
  float: left;
  margin-left: 270px;
  margin-right: 10px;
  margin-top: 19px;
  margin-bottom: 17px;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v320batch2-katie-11_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1400&s=2a820c604fce4c0528f6c212fbb09ff1);
  background-size: cover;
}

.button{
  background-color: black;
  border: none;
  color: rgb(226, 38, 38);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
  margin-top: 45px;
}

.julklappar{
  display: inline-block;
}

#vald-julklapp { /* css för när man slumpar en julklapp*/
  background-color:green;
  border-radius: 5px;
}

.bilder{
  width: 200px;
  display: none;
  border-radius: 7px;
  margin-top: 10px;
  margin-left: 565px;
}

.hover-text:hover ~ .bilder {
  display: block;
}

p{
  color: black;
  margin-left: 150px;
  margin-right: 150px;
}

h1{
  color: rgb(7, 16, 65);
  margin-top: 30px;
}

h2{
  color: rgb(5, 17, 78);
}

#header2{
  color: rgb(5, 17, 78);
  margin-top: 50px;
}

#hörlurar{
  margin-top: 10px;
  margin-left: 277px;
}

#mobillåda{
  margin-top: 10px;
  margin-left: 440px;
}
/* för snöbollarna på hemsidan*/
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
